/* Navbar */
.navBar {
  background-color: rgb(211, 204, 228);
}

/* card component section */
#cardsSection {
  padding: 100px 0;
}

.cards {
  background-color: rgb(201, 188, 227);
}

.cardLink {
  color: rgb(128, 98, 214);
  text-decoration: none;
}

.cardimg {
  height: 200px;
}

/* card detail */
#cardDetailSection {
  padding: 100px 0;
}

#cardTitle {
  color: rgb(128, 98, 214);
}

.menu {
  background-color: rgb(185, 168, 219);
  padding: 5px;
}

.review {
  background-color: rgb(185, 168, 219);
  padding: 5px;
}

.bookmarkPosition {
  top: -40px;
}

.kotaDanRating {
  display: flex;
  justify-content: space-between;
}

/* footer */
footer {
  color: rgb(0, 0, 0);
  background-color: rgb(211, 204, 228);
  width: 100%;
  padding: 10px 0;
}

/* responsive */

@media (max-width: 768px) {
  .kotaDanRating {
    display: flex;
    flex-wrap: wrap;
  }
}
